In [1]:
print("hello sonam")

hello sonam

In [1]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
x = 5       # x is of type int
y=str(457)#"457"
print(y)
print(x)
print(type(x))
print(type(y))

457
5
<class 'int'>
<class 'str'>

In [2]:
my_name="nishu"
print(my_name)

nishu

In [4]:
x=10
y=20
x,y=y,x
print(x)

20

In [5]:
fruits = ["apple", "banana", "cherry"]
x, y,z =fruits
print(x)
print(y)

apple
banana

In [4]:
x="python"
y="is"
z="awesome"
print(x,y,z)

python is awesome

In [5]:
x="python"
y="is"
z="awesome"
print(x+y+z)

pythonisawesome

In [4]:
x=19
y=45
print(x+y)

64

In [9]:
x=19
y=45
print(x+y)

64

In [10]:
x="12"
y="nishu"
print(x+y)

12nishu

In [11]:
x=12
y="nishu"
print(x,y)

12 nishu

In [12]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [13]:
x="genius"
def func():
    print("Nishu is "+ x)
func()
print("Nishu is "+x)

Nishu is genius
Nishu is genius

In [14]:
def new():
    x=23
    y=45
    print(x+y)
new()

68

In [15]:
def new():
     
    x=23
    y=45
    print(x+y)
new()
print(x)

68
genius

In [16]:
def myfunc():
 
  global x
  x = "fantastic"
  print("Python is a "+x)
myfunc()

print("Python is " + x)

Python is a fantastic
Python is fantastic

In [17]:
fruits = ["apple", "banana", "cherry","lichi",34,45.8,2j]
for i in fruits:
    print(i)

apple
banana
cherry
lichi
34
45.8
2j

In [18]:
fruits = ("apple", "banana", "cherry","lichi",20)
for i in fruits:
    print(i)

apple
banana
cherry
lichi
20

In [19]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [21]:
for i in range(10,21,2):
    print(i)

10
12
14
16
18
20

In [22]:
print("My name is","sonam")

My name is sonam

In [23]:
print("value is",29)

value is 29

In [24]:
name ="sonam"
print(f"my name is {name}")

my name is sonam

In [25]:
print(type(False))

<class 'bool'>

In [26]:
x = {"name" : "John", "age" : 36}
print(x['age'])
print(type(x))

36
<class 'dict'>

In [27]:
x = {"apple", "banana", "cherry"}

In [28]:
x=-567
print(type(x))

<class 'int'>

In [29]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [30]:
x=int(658.999)
y=str("nishu")
print(y)
print(x)

nishu
658

In [31]:
a = "hey i am learning java"
print(a[1]) 
"""
Get the character at position 1 (remember that the first character has the position 0):
"""

e

'\nGet the character at position 1 (remember that the first character has the position 0):\n'

In [32]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [33]:
a = "Hello, World!"
print(len(a))

13

In [34]:
 txt = "The best things in life are free!"
print("free" in txt)
#To check if a certain phrase or character is present in a string, we can use the keyword in.

True

In [35]:
school="my school name is Sacred Heart Convent School"
if "Convent" in school:
    print("yes","Convent is present")

yes Convent is present

In [36]:
school="my school name is Sacred Heart Convent School"
if "Conventian" in school:
    print("yes","Convent is present") 
else:
    print("not present")

not present

In [37]:
b = "Hello, World!"
print(b[2:5])
#slicing in python== substring in java

llo

In [38]:
b = "Hello, World!"
print(b[:5])
print(b[2:])

Hello
llo, World!

In [39]:
b = "Hello, World!"
print(b[-5:-2]) 
#Use negative indexes to start the slice from the end of the string:

orl

In [40]:
a = "Hello, World!"
print(a.upper())
print(a.lower())

HELLO, WORLD!
hello, world!

In [41]:
#The strip() method removes any whitespace from the beginning or the end:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [42]:
#The replace() method replaces a string with another string:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [43]:
#The split() method splits the string into substrings if it finds instances of the separator:
a = "Hello, World!"
print(a.split(","))
b="The best, things in, life are free!"
print(b.split(","))

['Hello', ' World!']
['The best', ' things in', ' life are free!']

In [44]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [45]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [46]:

#specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} 
#as placeholders for variables and other operations.
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [47]:
age1 = 36
txt = f"My name is John, I am {age1}"
print(txt)

My name is John, I am 36

In [48]:
price =56
print(f"today i earned {price}")

today i earned 56

In [50]:
price = 59.1
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.10 dollars

In [51]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [53]:
#You will get an error if you use double quotes inside a string that is surrounded by double quotes:
#txt = "We are the so-called "Vikings" from the north."
#To fix this problem, use the escape character \":
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [60]:
"""
hHknkjnkjnj njbnjjinj njbhjbi
knjnijbi
"""

'\nhHknkjnkjnj njbnjjinj njbhjbi\nknjnijbi\n'

In [59]:
print("These are string functions")

These are string functions

In [61]:
"hello world"

'hello world'

In [30]:
"""

capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle() 	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning
"""
print("hey,i am nishu")

hey,i am nishu

In [8]:
a="myNameIsNishu Kumari "
print(a.capitalize())
print(a.casefold())
print(a.center(50))
print(a.count(" Kumari"))
print(a.endswith(" "))

Mynameisnishu kumari
mynameisnishu kumari
              myNameIsNishu Kumari
1
True

In [9]:
 txt = "banana"

x = txt.center(20)

print(x)

       banana

In [16]:
txt = "banana"

x = txt.center(20, "*")

print(x)

*******banana*******

In [18]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [21]:
#string.count(value, start, end) 
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 5, 24)

print(x)

2

In [22]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [11]:
"""
'backslashreplace'	- uses a backslash instead of the character that could not be encoded
'ignore'	- ignores the characters that cannot be encoded
'namereplace'	- replaces the character with a text explaining the character
'strict'	- Default, raises an error on failure
'replace'	- replaces the character with a questionmark
'xmlcharrefreplace'	- replaces the character with an xml character
"""
txt = "My name is Ståle"
print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [12]:
#endswith()	Returns true if the string ends with the specified value
txt = "I love apples, apple are my favorite fruit"
print(txt.endswith("t"))

True

In [32]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [33]:
txt = "Company 12"

x = txt.isalnum()

print(x)

False

In [34]:
#isalpha return true if all are alphabet
"""
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
"""
txt = "Company123"

x = txt.isascii()

print(x)

True

In [36]:
txt = "50800"

x = txt.isdigit()

print(x) 
a="2^16"
print(a.isdigit())

True
False

In [39]:
#A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or 
#underscores (_). A valid identifier cannot start with a number, or contain any spaces.
a="3nishu"
print(a.isidentifier())
b="nishu4"
print(b.isidentifier())

False
True

In [45]:

#Check if all the characters in the text are in lower case:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

In [47]:
"""
The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.

Exponents, like ² and ¾ are also considered to be numeric values.

"-1" and "1.5" are NOT considered numeric values, because all the characters in the string must be numeric, and the - and the . are not.
"""
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"
f="777"
print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())
print(f.isnumeric())

True
True
False
False
False
True

In [48]:
#In printable function space is allowed but \n is not allowed
txt = "Hello!\nAre you #1?"

x = txt.isprintable()

print(x)

False

In [14]:
#he isspace() method returns True if all the characters in a string are whitespaces, otherwise False.
a="nishu"
b= "  nishu"
c=" i a n i s h u "
d="iAm Nishu"
e="     "
print(a.isspace())
print(b.isspace())
print(c.isspace())
print(d.isspace())
print(e.isspace())

False
False
False
False
True

In [52]:
txt = "   "

x = txt.isspace()

print(x)

True

In [53]:
#The isupper() method returns True if all the characters are in upper case, otherwise False.
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

In [10]:
print(15//8)

1

In [12]:
x=x&3
print(x)

3

In [1]:
print(2**4)

16

In [2]:
# The result of dividing -17 by 5 is -3.4, but floor division returns the largest integer less than or equal to the result. Therefore, the result is -4.
# floor division returns the largest integer less than or equal to the result. 
result4 = -17 // 5
print("Floor division with a negative dividend and positive divisor :", result4)

Floor division with a negative dividend and positive divisor : -4

In [9]:
if 16>12 and 5<78 :
    print("yes")
else:
    print("no")

yes

In [10]:
print(2&3)

2

In [13]:
print(5|7)

7

In [14]:
"""
PRECEDENCE ORDER :-
() 	Parentheses 	
** 	Exponentiation 	
+x  -x  ~x 	Unary plus, unary minus, and bitwise NOT 	
*  /  //  % 	Multiplication, division, floor division, and modulus 	
+  - 	Addition and subtraction 	
<<  >> 	Bitwise left and right shifts 	
& 	Bitwise AND 	
^ 	Bitwise XOR 	
| 	Bitwise OR 	
==  !=  >  >=  <  <=  is  is not  in  not in  	Comparisons, identity, and membership operators 	
not 	Logical NOT 	
and 	AND 	
or 	OR
"""

'\nPRECEDENCE ORDER :-\n() \tParentheses \t\n** \tExponentiation \t\n+x  -x  ~x \tUnary plus, unary minus, and bitwise NOT \t\n*  /  //  % \tMultiplication, division, floor division, and modulus \t\n+  - \tAddition and subtraction \t\n<<  >> \tBitwise left and right shifts \t\n& \tBitwise AND \t\n^ \tBitwise XOR \t\n| \tBitwise OR \t\n==  !=  >  >=  <  <=  is  is not  in  not in  \tComparisons, identity, and membership operators \t\nnot \tLogical NOT \t\nand \tAND \t\nor \tOR\n'

In [15]:
#Relational operator
print(4>5)
print(4>=5)
print(4==4)
print(4<=4)
print(4!=4)

False
False
True
True
False

In [18]:
#Logical operator(and ,for ,not)
print(1 and 0)
print(1 or 0)
print(not 1)

0
1
False

In [23]:
#Bitwise Operator
# XOR = Dono same hai to 0 alag hai to 1(^)
#bitwise not(~)=1 ka 0 ,0 ka 1
print(2&3)
print(2|3)
print(2^3)
print(~2)
print(4>>2)
print(5<<2)

2
3
1
-3
1
20

In [27]:
#Assignment Operator(=)
a=2
a+=2
print(a)

4

In [32]:
#Membership Operator(in,not in)
print('D' not in "Delhi")

False

In [31]:
print('D' in 'Delhi')

True

In [34]:
print(1 in [2,3,4,5,6])
print(6 in [2,3,4,5,6])

False
True

In [41]:
# Input kaise lein?????
number=int(input("Enter 3 digit number"))
print(number)
a=number%10
number=number//10
b=number%10
number=number//10
c=number%10
number=number//10
print(a+b+c)

Enter 3 digit number 343

343
10

number=int(input("Enter 3 digit number"))
print(number)
a=0
while(number!=0)
    a=a+number%10
    number=number/10
print(a)

In [46]:
#IF-ELSE
"""
if condition:
    code
else condition
    code
"""
email = input("enter e-mail")
password=input("enter password")
if email=='nishu123' and password=='nishu121':
    print("welcome")
else:
    print("Not Correct")

enter e-mail nishu123
enter password nishu121

welcome

In [54]:
#Modules--math
import math
""""
math.factorial(5)
math.floor(6.8)
"""
math.sqrt(196)

14.0

In [55]:
#module--Keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [57]:
#Module--random
import random
print(random.randint(1,100))

72

In [59]:
#Module--dateTime
import datetime
print(datetime.datetime.now())

2024-07-10 05:52:55.225058

In [64]:
help('modules')

Please wait a moment while I gather a list of all available modules...

7f0197f6d050da244d93__mypyc comm                mimetypes           snowballstemmer
IPython             commctrl            mistune             socket
OpenSSL             compileall          mkl                 socketserver
PIL                 concurrent          mkl_fft             socks
PyQt5               conda               mmap                sockshandler
__future__          conda_build         mmapfile            sortedcontainers
__hello__           conda_content_trust mmsystem            soupsieve
__phello__          conda_env           modulefinder        sphinx
_abc                conda_index         more_itertools      sphinxify
_aix_support        conda_libmamba_solver mpmath              sphinxthread
_argon2_cffi_bindings conda_pack          msgpack             spyder
_ast                conda_package_handling msilib              spyder_kernels
_asyncio            conda_package_streaming msvcrt              sqlalchemy
_bisect             conda_token         multidict           sqlite3
_black_version      conf                multipledispatch    sre_compile
_blake2             configparser        multiprocessing     sre_constants
_brotli             constantly          mypy                sre_parse
_bz2                contextlib          mypy_extensions     ssl
_cffi_backend       contextvars         mypyc               sspi
_codecs             contourpy           nacl                sspicon
_codecs_cn          cookiecutter        navigator_updater   stack_data
_codecs_hk          copy                nbclient            stat
_codecs_iso2022     copyreg             nbconvert           statistics
_codecs_jp          cpuinfo             nbformat            statsmodels
_codecs_kr          crypt               nest_asyncio        streamlit
_codecs_tw          cryptography        netbios             string
_collections        cssselect           netrc               stringprep
_collections_abc    csv                 networkx            struct
_compat_pickle      ctypes              nltk                subprocess
_compression        curl                nntplib             sunau
_contextvars        curses              notebook            sympy
_csv                cwp                 notebook_shim       symtable
_ctypes             cycler              nt                  sys
_ctypes_test        cytoolz             ntpath              sysconfig
_datetime           dask                ntsecuritycon       tables
_decimal            dask_expr           nturl2path          tabnanny
_distutils_hack     dataclasses         numba               tabulate
_elementtree        datashader          numbergen           tarfile
_functools          datetime            numbers             tblib
_hashlib            dateutil            numexpr             telnetlib
_heapq              dbi                 numpy               tempfile
_imp                dbm                 numpydoc            tenacity
_io                 dde                 odbc                terminado
_json               debugpy             opcode              test
_locale             decimal             openpyxl            test_pycosat
_lsprof             decorator           operator            text_unidecode
_lzma               defusedxml          optparse            textdistance
_markupbase         diff_match_patch    os                  textwrap
_md5                difflib             overrides           this
_msi                dill                packaging           threading
_multibytecodec     dis                 pandas              threadpoolctl
_multiprocessing    distributed         pandocfilters       three_merge
_nsis               distro              panel               tifffile
_opcode             docstring_to_markdown param               time
_operator           doctest             paramiko            timeit
_osx_support        docutils            parsel              timer
_overlapped         dotenv              parso               tinycss2
_pickle             email               partd               tkinter
_plotly_future_     encodings           pathlib             tldextract
_plotly_utils       ensurepip           pathspec            tlz
_py_abc             entrypoints         patsy               token
_pydatetime         enum                pdb                 tokenize
_pydecimal          erfa                perfmon             toml
_pyio               errno               pexpect             tomli
_pylong             et_xmlfile          pickle              tomlkit
_pytest             executing           pickleshare         tomllib
_queue              fastjsonschema      pickletools         toolz
_random             faulthandler        pip                 tornado
_sha1               filecmp             pipes               tqdm
_sha2               fileinput           pkce                trace
_sha3               filelock            pkg_resources       traceback
_signal             flake8              pkginfo             tracemalloc
_sitebuiltins       flask               pkgutil             traitlets
_socket             fnmatch             platform            truststore
_sqlite3            fontTools           platformdirs        tty
_sre                fractions           plistlib            turtle
_ssl                frozendict          plotly              turtledemo
_stat               frozenlist          pluggy              twisted
_statistics         fsspec              ply                 types
_string             ftplib              poplib              typing
_strptime           functools           posixpath           typing_extensions
_struct             gc                  pprint              tzdata
_symtable           genericpath         profile             uc_micro
_system_path        gensim              prometheus_client   ujson
_testbuffer         getopt              prompt_toolkit      unicodedata
_testcapi           getpass             protego             unicodedata2
_testclinic         gettext             pstats              unidecode
_testconsole        git                 psutil              unittest
_testimportmultiple gitdb               pty                 untitled
_testinternalcapi   glob                ptyprocess          untitled1
_testmultiphase     graphlib            pure_eval           urllib
_testsinglephase    greenlet            py                  urllib3
_thread             gzip                py_compile          uu
_threading_local    h5py                pyarrow             uuid
_tkinter            hashlib             pyasn1              venv
_tokenize           heapdict            pyasn1_modules      w3lib
_tracemalloc        heapq               pyclbr              warnings
_typing             hmac                pycodestyle         watchdog
_uuid               holoviews           pycosat             wave
_warnings           html                pycparser           wcwidth
_weakref            http                pyct                weakref
_weakrefset         hvplot              pycurl              webbrowser
_win32sysloader     hyperlink           pydantic            webencodings
_winapi             idlelib             pydantic_core       websocket
_winxptheme         idna                pydeck              werkzeug
_wmi                imagecodecs         pydispatch          whatthepatch
_xxinterpchannels   imageio             pydoc               wheel
_xxsubinterpreters  imagesize           pydoc_data          widgetsnbextension
_yaml               imaplib             pydocstyle          win2kras
_zoneinfo           imblearn            pyexpat             win32api
abc                 imghdr              pyflakes            win32clipboard
adodbapi            importlib           pygments            win32com
afxres              importlib_metadata  pylab               win32con
aifc                incremental         pylint              win32console
aiobotocore         inflection          pylint_venv         win32cred
aiohttp             iniconfig           pyls_spyder         win32crypt
aioitertools        inspect             pylsp               win32cryptcon
aiosignal           intake              pylsp_black         win32ctypes
alabaster           intervaltree        pylsp_jsonrpc       win32event
altair              io                  pyodbc              win32evtlog
anaconda_anon_usage ipaddress           pyparsing           win32evtlogutil
anaconda_catalogs   ipykernel           pytest              win32file
anaconda_cloud_auth ipykernel_launcher  pythoncom           win32gui
anaconda_navigator  ipython_genutils    pythonjsonlogger    win32gui_struct
anaconda_project    ipywidgets          pytoolconfig        win32help
annotated_types     isapi               pytz                win32inet
antigravity         isort               pyviz_comms         win32inetcon
anyio               isympy              pywin               win32job
appdirs             itemadapter         pywin32_bootstrap   win32lz
archspec            itemloaders         pywin32_testutil    win32net
argon2              itertools           pywintypes          win32netcon
argparse            itsdangerous        pywt                win32pdh
array               jedi                qdarkstyle          win32pdhquery
arrow               jellyfish           qstylizer           win32pdhutil
ast                 jinja2              qtawesome           win32pipe
astroid             jmespath            qtconsole           win32print
astropy             joblib              qtpy                win32process
astropy_iers_data   json                queue               win32profile
asttokens           json5               queuelib            win32ras
async_lru           jsonpatch           quopri              win32rcparser
asyncio             jsonpointer         random              win32security
atexit              jsonschema          rasutil             win32service
atomicwrites        jsonschema_specifications re                  win32serviceutil
attr                jupyter             referencing         win32timezone
attrs               jupyter_client      regcheck            win32trace
audioop             jupyter_console     regex               win32traceutil
automat             jupyter_core        regutil             win32transaction
autopep8            jupyter_events      repo_cli            win32ts
babel               jupyter_lsp         reprlib             win32ui
base64              jupyter_server      requests            win32uiole
bcrypt              jupyter_server_terminals requests_file       win32verstamp
bdb                 jupyterlab          requests_toolbelt   win32wnet
binaryornot         jupyterlab_plotly   rfc3339_validator   win_inet_pton
binascii            jupyterlab_pygments rfc3986_validator   winerror
binstar_client      jupyterlab_server   rich                winioctlcon
bisect              jupyterlab_widgets  rlcompleter         winnt
black               jwt                 rope                winperf
blackd              keyring             rpds                winpty
bleach              keyword             rtree               winreg
blib2to3            kiwisolver          ruamel_yaml         winsound
blinker             lazy_loader         runpy               winxpgui
bokeh               lazy_object_proxy   s3fs                winxptheme
boltons             lckr_jupyterlab_variableinspector sched               wrapt
botocore            lib2to3             scipy               wsgiref
bottleneck          libarchive          scrapy              xarray
brotli              libmambapy          seaborn             xdrlib
bs4                 lief                secrets             xlwings
builtins            linecache           select              xlwingsjs
bz2                 linkify_it          selectors           xml
cProfile            llvmlite            semver              xmlrpc
cachetools          lmdb                send2trash          xxlimited
calendar            locale              service_identity    xxlimited_35
certifi             locket              servicemanager      xxsubtype
cffi                logging             setuptools          xyzservices
cgi                 lxml                shelve              yaml
cgitb               lz4                 shlex               yapf
chardet             lzma                shutil              yapf_third_party
charset_normalizer  mailbox             signal              yapftests
chunk               mailcap             sipbuild            yarl
click               markdown            site                zict
cloudpickle         markdown_it         six                 zipapp
cmath               markupsafe          skimage             zipfile
cmd                 marshal             sklearn             zipimport
code                math                slugify             zipp
codecs              matplotlib          smart_open          zlib
codeop              matplotlib_inline   smmap               zmq
collections         mccabe              smtplib             zoneinfo
colorama            mdit_py_plugins     snappy              zope
colorcet            mdurl               sndhdr              zstandard
colorsys            menuinst            sniffio

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

In [65]:
#loops 
num=int(input("enter a number"))
i=1
while i<11:
    print(num*i)
    i+=1

enter a number 4

4
8
12
16
20
24
28
32
36
40

In [67]:
#loops 
num=int(input("enter a number"))
i=1
while i<11:
    print(num,'*',i,'=',num*i)
    i+=1

enter a number 67

67 * 1 = 67
67 * 2 = 134
67 * 3 = 201
67 * 4 = 268
67 * 5 = 335
67 * 6 = 402
67 * 7 = 469
67 * 8 = 536
67 * 9 = 603
67 * 10 = 670

In [1]:
#while loop with else
x=1
while x<3:
    print(x)
    x+=1
else:
    print("limit crossed")

1
2
limit crossed

In [3]:
#GUESSING GAME
import random
jackpot=random.randint(1,100)
guess=int(input("guess karo"))
counter=1
while guess != jackpot:
    if guess<jackpot:
        print("galat,guess higher")
    else:
        print("galat,guess lower")
        
    guess=int(input("guess again"))
    counter+=1
else:
    print("correct guess")
    print("attempts",counter)

guess karo 78

galat,guess higher

guess again 89

galat,guess lower

guess again 80

galat,guess higher

guess again 85

galat,guess lower

guess again 83

galat,guess higher

guess again 84

correct guess
attempts 6

In [5]:
#for loop
for i in range(12,20,2):
    print(i)

12
14
16
18

In [7]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [9]:
for i in "Delhi":
    print (i)

D
e
l
h
i

In [10]:
for i in ["nishu","is","a","goood","girl"]:
    print(i)

nishu
is
a
goood
girl

In [11]:
for i in {"nishu","is","a","goood","girl"}:
    print(i)

nishu
a
girl
goood
is

In [12]:
for i in ("nishu","is","a","goood","girl"):
    print(i)

nishu
is
a
goood
girl

In [14]:
curr_pop=10000
for i in range(10,0,-1):
    print(i,curr_pop)
    curr_pop-=0.1*curr_pop

10 10000
9 9000.0
8 8100.0
7 7290.0
6 6561.0
5 5904.9
4 5314.41
3 4782.969
2 4304.6721
1 3874.20489

In [26]:
#Sequence sum
#1/1!+2/2!+.....
import math
sum=0
num=int(input("Enter a number"))#6
for i in range (1,num+1):
    t=i/math.factorial(i)
    sum+=t
print("The Sum Is" ,sum)

Enter a number 2

The Sum Is 2.0

In [28]:
n=int(input("Enter a number"))#3
result=0
fact=1
for i in range(1,n+1):
    fact=fact*i      #1  1*2=2   2*3=6
    result=result+i/fact  #0+1/1=1  1+2/2=2   2+3/6=2.5
print(result)

Enter a number 3

2.5

In [29]:
a=int(input("enter a first number"))
b=int(input("enter a second number"))
if(a>b):
    print("max num",a)
else:
    print("max num",b)

enter a first number 3
enter a second number 5

max num 5

In [34]:
a=int(input("enter a first number"))
b=int(input("enter a second number"))
def maximum(a,b):
    if a>=b:
        return a
    else:
        return b
print("max num",maximum(a,b))

enter a first number 56
enter a second number 34

max num 56

In [32]:
#Ternary Operator
a=int(input("enter a first number"))
b=int(input("enter a second number"))
print(a if a>=b else b)

enter a first number 6576
enter a second number 988

6576

In [36]:
a=2;b=4
x=[a if a>b else b]
print("maximum num is :",x)

maximum num is : [4]

In [39]:
# sort()-------This method is used to sort element in ascending order

enter a first number 567
enter a second number 56

NameError: name 'sort' is not defined

In [38]:
a=int(input("enter a first number"))
b=int(input("enter a second number"))
x=[a,b]
x.sort()
print(x[-1])

enter a first number 55
enter a second number 34

55

In [42]:
#def double(x):
 #   return x*2
double=lambda x:x*2
avg =lambda x,y:(x+y)/2
print(double(5))
print (avg(5,6))

10
5.5

In [43]:
a=int(input("enter a first number"))
b=int(input("enter a second number"))
x=lambda a,b:a if a>b else b
print(f'{maximum (a,b)}is a maximum number')

enter a first number 566
enter a second number 878

878is a maximum number

In [44]:
#Factorial of a number
a=int(input("enter a first number"))#5
fact=1
for i in range(2,a+1):
    fact=fact*i #2  2*3*4*5
print(fact)

enter a first number 5

120

In [69]:
def factorial(a):
    if a==1  or a==0:
        return 1
    else:
         return a*factorial(a-1)
a=int(input("enter a first number"))
print("factorial:",factorial(a))

enter a first number 5

factorial: 120

In [56]:
def factorial(n):
    if n<0:
        return 0
    elif n==0 or n==1:
        return 1
    else:
        fact=1
        while n>1:
            fact =fact*n
            n=n-1
        return fact
num =5
print("factorial is:",factorial(num))

factorial is: 120

In [67]:
import math
a=int(input("enter a first number"))
print(math.factorial(a))

enter a first number 10

3628800

In [71]:
import numpy as np
s=np.array([1,2,3,4,5])
s2=np.array([5,6,7,8])
n=np.prod(s,s2)
print(n)

TypeError: only integer scalar arrays can be converted to a scalar index

In [72]:
cars = ["Ford", "Volvo", "BMW"]
x = len(cars)
p=cars[0]
print(p)
print(x)
cars.append("Honda") 
print(cars)

Ford
3
['Ford', 'Volvo', 'BMW', 'Honda']

In [73]:
cars = ["Ford", "Volvo", "BMW"]
cars.pop(1) 
print(cars)

['Ford', 'BMW']

In [74]:
fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()
print(fruits)

[]

In [75]:
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [83]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
points = [1, 4, 5, 9]
fruits.extend(cars)
points.extend(fruits)
print(fruits)
print(points)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']
[1, 4, 5, 9, 'apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [84]:
fruits = ['apple', 'banana', 'cherry']

points = (1, 4, 5, 9)

fruits.extend(points)

print(fruits)

['apple', 'banana', 'cherry', 1, 4, 5, 9]

In [86]:
fruits = ['apple', 'banana', 'cherry']
x = fruits.index("cherry")
print(x)

2

In [88]:
fruits = [4, 55, 64, 32, 16, 32]
x = fruits.index(32)
print(x)

3

In [89]:
#list.insert(pos, elmnt) 
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [90]:
fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana") 
print(fruits)

['apple', 'cherry']

In [91]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort() 
print(cars)

['BMW', 'Ford', 'Volvo']

In [92]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort(reverse=True) 
print(cars)

['Volvo', 'Ford', 'BMW']

In [1]:
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)

print(cars)
print(range(5))

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]
range(0, 5)

In [7]:
n=int(input("Enter a number"))
for i in range(1,n+1):
    for j in range (1,i):
        print("*",end=" ")
    print(" ")

Enter a number 5

*
* *
* * *
* * * *

In [8]:
for j in range (1,6):
        print("*",end=" ")

* * * * *

In [9]:
for j in range (1,6):
        print("*")

*
*
*
*
*

In [10]:
print("I am Nishu")
print(" ")
print("I am studying Python")

I am Nishu

I am studying Python

In [12]:
#Break and Continue
for i in range(1,11):
    if i==5:
        break
    print(i)

1
2
3
4

In [13]:
#continue mein uss particular value par execute nhi hoga
for i in range(1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [15]:
#pass= baad mein dekhenge
for i in range(1,11):
    pass

In [16]:
#creating ,accessing,adding chairs to,editing ,deleting,operation on,string (string)
#string are sequence of unicode characters
print("My name is"NISHU"\ Kumari")

SyntaxError: unexpected character after line continuation character (3963045947.py, line 3)

In [18]:
c=print("""hii """)
d=print('''everyone''')
e=print(str("nishu"))

hii
everyone
nishu

In [22]:
#accessing substring
c="hello"
print(c[2])
print(c[-1])

l
o

In [29]:
#slicing
c="hello world"
print(c[0:4])
print(c[2:])
print(c[:8])
print(c[2:6:2])
#print(c[0:6:-1])---------wrong
print(c[-5:-1:2])
print(c[::-1])

hell
llo world
hello wo
lo
wr
dlrow olleh

In [32]:
#string are immutable data type
#editing and deleting are not allowed
#string operation
print("hello"+" "+"world")
print("*"*5)
print("ha"*10)

hello world
*****
hahahahahahahahahaha

In [36]:
"hello"=="Hello"

False

In [35]:
"hello"!="Hello"

True

In [38]:
"Mumbai">"pune"

False

In [40]:
"goa"<"gorakpur"

True

In [41]:
# ""---->False         "anything"--------->True
"hello" and " "#true and false==false  answer is " "

' '

In [45]:
"" or "hii"

'hii'

In [46]:
"hello" or "world"

'hello'

In [47]:
"hello" and "world"

'world'

In [48]:
not "hello"

False

In [49]:
not ""

True

In [52]:
d="hello"
for i in d:
    print(i)
print('h' in d)
print('d' in d)

h
e
l
l
o
True
False

In [53]:
d="hello"
max(d)

'o'

In [54]:
d="hello"
min(d)

'e'

In [55]:
# sorted sort in order of Ascii value----------> get output in form of list
d="hello"
sorted(d)

['e', 'h', 'l', 'l', 'o']

In [57]:
d="hello"
sorted(d,reverse=True)

['o', 'l', 'l', 'h', 'e']

In [58]:
#capitalise,title,Upper,Lower,Swapcase
d="hello"
d.capitalize()

'Hello'

In [69]:
d="It is heavily raining today"
print(d.title())
print(d.capitalize())
print(d.upper())
print(d.lower())

It Is Heavily Raining Today
It is heavily raining today
IT IS HEAVILY RAINING TODAY
it is heavily raining today

In [77]:
#swapcase()------>capital ko smaller vice versa
"kolKATA".swapcase()

'KOLkata'

In [81]:
d="It is heavily raining today".count("a")
print(d)

3

In [84]:
#index throws error when str is not found but find does not 
d="It is heavily raining today".find("a")
e="It is heavily raining today".find("is")
f="It is heavily raining today".endswith("a")
print(d)
print(e)
print(f)

8
3
False

In [87]:
#format
print("hello my name is {} and age is{}".format("Nitish",30))

hello my name is Nitish and age is30

In [88]:
"hello my name is {1} and age is{0}".format("Nitish",30)

'hello my name is 30 and age isNitish'

In [90]:
"hello my name is {age} and age is{name}".format(name="Nitish",age=30)

'hello my name is 30 and age isNitish'

In [92]:
"hello_world".isidentifier()

True

In [96]:
p="who is it ?".split()
print(p)
q="who is it ?".split("i")
print(q)

['who', 'is', 'it', '?']
['who ', 's ', 't ?']

In [100]:
" ".join(['who', 'is', 'it', '?'])

'who is it ?'

In [102]:
"hii,i am Nishu".replace("Nishu","mahima")

'hii,i am mahima'

In [104]:
name="        nishu         "
print(name)
name.strip()

        nishu

'nishu'

In [119]:
#array=homogenous   list==hetrogenous
#array mein ek ke baad ek store hota hai
#array mein computation much faster
#list are more programmer friendly
#2d 
l1=[1,2,[4,5]]
#3d 
l2=[[[1,2],[3,4]],[[5,6],[7,8]]]
l3=list("haldia")
l4=["hello",4,5,6,True,5+6j]
print(l1)
print(l2)
print(l3)
print(l4)
l2[0]
l4[1:]
x=l1[-1]
print(x[0])
print(l2[1][0][1])
print(l2[1][1][0])

[1, 2, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
['h', 'a', 'l', 'd', 'i', 'a']
['hello', 4, 5, 6, True, (5+6j)]
4
6
7

In [121]:
#list in python are mutable
l=[1,2,3,4,5]
l[-1]=7
print(l)

[1, 2, 3, 4, 7]

In [122]:
l=[1,2,3,4,5]
l[1:4]=[200,300,400]
print(l)

[1, 200, 300, 400, 5]

In [129]:
#adding item in list ----->append(only one item)  -->extend(many items )    ---->insert
l=[1,2,3,4,5]
#l.append(1000)
l.extend([54,78,96])
print(l)

[1, 2, 3, 4, 5, 54, 78, 96]

In [135]:
l=[1,2,3,4,5]
l.extend('goa')
print(l)

[1, 2, 3, 4, 5, 'g', 'o', 'a']

In [136]:
l=[1,2,3,4,5]
l.insert(1,"world")
print(l)

[1, 'world', 2, 3, 4, 5]

In [137]:
#delete    ------>del    ------>remove      --------->pop(to delete last element)       --------->clear
l=[1,2,3,4,5]
del(l[0])
print(l)

[2, 3, 4, 5]

In [138]:
l=[1, 2, 3, 4, 5, 'g', 'o', 'a']
del l[-3:]
print(l)

[1, 2, 3, 4, 5]

In [141]:
l=[1, 2, 3, 4, 5, 'g', 'o', 'a']
l.remove("g")
print(l)

[1, 2, 3, 4, 5, 'o', 'a']

In [142]:
l=[1, 2, 3, 4, 5, 'g', 'o', 'a']
l.pop()
print(l)

[1, 2, 3, 4, 5, 'g', 'o']

In [143]:
l=[1, 2, 3, 4, 5, 'g', 'o', 'a']
l.clear()
print(l)

[]

In [146]:
l=[1, 2, 3, 4, 5]
l1=[8,9,7,6,5]
print(l+l1)
print(l*3)
for i in l:
    print(i)

[1, 2, 3, 4, 5, 8, 9, 7, 6, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
1
2
3
4
5

In [154]:
l=[1, 2, 3, 4, 5, 8, 9, 7, 6, 5]
print(len(l))
print(min(l))
print(max(l))
sorted(l.reverse=true)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2131140066.py, line 5)

In [155]:
l=[1, 2, 3, 4, 5, 8, 9, 7, 6, 5]
sorted(l.reverse=true)
print(l)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3758391500.py, line 2)

In [161]:
a=int(input("enter a number to find its factorial"))
def factorial(a):
    t=1
    for i in range(2,n+1):
        t=t*i
    return(t)
factorial(a)

enter a number to find its factorial 5

120

In [164]:
import numpy
n=5
x=numpy.prod([i for i in range(1,n+1)])
print(x)

120

In [167]:
import math
def fact(n):
    return(math.factorial(n))
num=5
print("factorial is ",fact(num))

factorial is  120

In [168]:
def factorial(n):
    return 1 if (n==1 or n==0) else n*factorial(n-1)
num=5
print("factorial is ",factorial(num))

factorial is  120

In [169]:
def factorial(n):
    if(n<0):
        return 0
    elif(n==1 or n==0):
        return 1
    else:
        fact=1
        while(n>1):
            fact=fact*n
            n=n-1
        return fact
num=5
print("factorial is ",factorial(num))

factorial is  120

In [175]:
def comp_interest(principal,rate,time):
    amount=principal*(1+(rate/100))**time
    ci=amount-principal
    print("compound interest is",ci)
comp_interest(3000,5,3)

compound interest is 472.87500000000045

In [188]:
#Armstrong number
n=int(input("Enter a number to check whether it is armstrong"))
N=n
S=n
c=0
#counting digit
while(n!=0):
    n=n//10
    c=c+1
p=c
print(c)
while(N>0):
    t=t+pow((N%10),p)
    N=N//10
if(S==t):
    print("it is a armstrong number")
else:
    print("it is not a armstrong number")

Enter a number to check whether it is armstrong 153

3
it is not a armstrong number

In [178]:
pow(2,4)

16

In [185]:
22//10

2

In [192]:
def is_armstrong(number):
    num_str = str(number)
    num_len = len(num_str)
    total_sum = 0
    for digit in num_str:
        total_sum += int(digit) ** num_len
    return total_sum == number
number = 153
if is_armstrong(number):
    print(f"{number} is an Armstrong number.")
else:
    print(f"{number} is not an Armstrong number.")

153 is an Armstrong number.